<aside>
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="image-circle"></div>
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdownButtonStyle" type="button" id="dropdownAsideButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Home
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownButtonStyle">
                      <a class="dropdown-item" href="#">Action1</a>
                      <a class="dropdown-item" href="#">Action2</a>
                      <a class="dropdown-item" href="#">Action3</a>
                    </div>
            </div>
            <p class="smart-home-name">9898 Trent Bypass Suite 541</p>
        </div>

        <ul class="list-unstyled components">
            <li class="row">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_home.png"/>
                </div>
                <a class="col" href="#">Overview</a>
            </li>
            <li class="row active">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_devices.png"/>
                </div>
                <a href="#">Devices</a>
            </li>
            <li class="row">
                <div class="img-wrapper col-auto">
                     <img src="../../../../../assets/images/icon_analytics.png"/>
                </div>
                <a href="#">Analytics</a>
            </li>
            <li class="row">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_rules.png"/>
                </div>
                <a href="#">Rules</a>
            </li>
            <li class="row">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_gallery.png"/>
                </div>
                <a href="#">Gallery</a>
            </li>
            <li class="row">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_history.png"/>
                </div>
                <a href="#">History</a>
            </li>
            <li class="row">
                <div class="img-wrapper col-auto">
                    <img src="../../../../../assets/images/icon_settings.png"/>
                </div>
                <a href="#">Settings</a>
            </li>
        </ul>
    </nav>
</aside>
