@import "../../../../../styles/base/colorPalette.scss";
@import "../../../../../styles/base/mixin.scss";

aside{
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: $primary-blue;
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        color: #fff;
        transition: all 0.3s;
        .sidebar-header {
            @include Header(white);
            padding: 20px;
            @include dropdown($light-blue);
            .image-circle{
                background-image: url("../../../../../assets/images/home.png");
                border-radius:10em;
                height: 110px;
                width: 110px;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
        }
        ul{
            li{
                width: 100%;
                padding-left: 32px;
                padding-top: 8px;
                padding-bottom: 8px;
                position: relative;
                &.row{
                    margin-left:0;
                }
                &:active{
                    & > a{
                        color: $light-blue;
                    }
                }
                &.active{
                    background-color: $sidebar-dark-blue;
                    border-radius: 10px;
                    & > a{
                        color:$light-blue;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        left:0;
                        top:0;
                        bottom:0;
                        width: 8px;
                        background-color: $light-blue;
                    }
                }
                .img-wrapper{
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    width: 45px;
                    img{
                        margin:auto;
                    }
                }
                a{
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                    &:hover{
                        color: $light-blue;
                    }
                }
            }
        }
        a{
            &,&:hover,&:focus{
                color: inherit;
                text-decoration: none;
                transition: all 0.3s;
            }
        }
    }
    
}