@import "../../../../styles/base/colorPalette.scss";

main{
    background-color: $primary-blue;
    height: calc(100vh - 61px);
    //overflow: hidden;
    .mainContainer{
        padding: 0 40px;
    }
}