@import "../../../../styles/base/colorPalette.scss";

header{
    background-color: $primary-blue;
    nav{
        padding-bottom: 13px;
        padding-top: 11px;
        border-bottom: 1px solid $primary-dark-blue;
        align-items: stretch;
        .navbar-brand{
            padding: 0;
            margin-top: -4px;
            margin-right: 73px;
        }
        .menu-icon{
            margin-bottom: -13px;
            margin-top: -11px;
            display: flex;
            align-items: center;
            width: 60px;
            justify-content: center;
            border-right: 1px solid $primary-dark-blue;
            border-left: 1px solid $primary-dark-blue;
        }
    }
    #navbarSupportedContent{
        justify-content: flex-end;
        padding-right: 20px;
        .right-side-menu{
            & > *{
                display: flex;
                vertical-align: center;
                align-items: center;
                margin: 0 10px;
            }
            .dropdown{
                #dropdownMenuButton{
                    background: none;
                    border: none;
                    box-shadow: none;
                    color:$text-bright;
                }
                .dropdown-menu{
                    min-width: auto;
                }
            }
            .burger-menu-right{
                img{
                    padding-top: 6px;
                }
            }
            .custume-progress-bar{
                padding-top: 6px;
                .progress-line{
                    background-color: $primary-dark-blue;
                    width: 165px;
                    height:7px;
                    position:relative;
                    border-radius: 8px;
                    overflow: hidden;
                    &:after{
                        content:"";
                        position: absolute;
                        left:0;
                        right:30%;
                        top:0;
                        bottom: 0;
                        background-color: $light-blue;
                    }
                }
            }
        }
        
    }
}