<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src='../../../../assets/images/logo.png' /></a>
        <a href="#" class="menu-icon">
          <img src='../../../../assets/images/icon_bars.png' />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <div class="row right-side-menu">
            <a href="#" class="burger-menu-right col-md-">
              <img src='../../../../assets/images/icon_rules.png' />
            </a>
            <div class="custume-progress-bar">
              <div class="progress-line"></div>
            </div>
            <div class="icon">
              <a href="#"><img src='../../../../assets/images/icon_question.png'/></a>
            </div>
            <div class="icon">
              <a href="#"><img src='../../../../assets/images/icon_mail.png'/></a>
            </div>
            <div class="icon">
              <a href="#"><img src='../../../../assets/images/icon_notification.png'/></a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Username
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action1</a>
                  <a class="dropdown-item" href="#">Action2</a>
                  <a class="dropdown-item" href="#">Action3</a>
                </div>
              </div>
          </div>
        </div>
      </nav>
</header>