$primary-blue: #242e42;
$text-bright: #f0f0f2;
$primary-dark-blue: #20293c;
$sidebar-dark-blue: #212a3d;
$light-blue: #1f8efa;
$text-blue: #96a6b8;
$table-background: #2f3b52;
$table-blue-text: #70889e;
$unchecked: #70889e;
$popup-background: #2f3b52;