<div class="container-fluid homeblock">
    <div class="row">
        <h1 class="col-auto title">Devices</h1>
        <div class="addDeviceButton" data-toggle="modal" data-target="#exampleModal"></div>
    </div>
    <app-devices-table 
      [devices]="devices"
      (deleteDeviceClick)="handleDeleteDeviceClick($event)">
    </app-devices-table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a new device</h5>
          <button (click)="successMSG=''" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="../../assets/images/closeModal.png"/>
          </button>
        </div>
        <div class="modal-body">
          <div class="container body-container">
            <div class="row">
              <div class="col-md-6 preview-device">
                <div class="img">
                  <img class="col-sm-12" [src]="deviceMACMapping[deviceTypeResponse]"/>
                  <div class="preview-text col-sm-12">Device Preview</div>
                </div>
                
              </div>
              <form #addDeviceForm="ngForm" name="addDeviceForm" class="col-md-6" (ngSubmit)="addDevice()">
                  <div class="form-group">
                    <label class="form-label" for="formGroupExampleInput">MAC Address</label>
                    <input [(ngModel)]="MAC" required (ngModelChange)="getDeviceTypeByMac(MAC)" name="MACaddress" type="number" class="form-control" id="formGroupExampleInput">
                    <span *ngIf="deviceMACMapping[deviceTypeResponse]"><img src="../../assets/images/successIcon.png"/></span>
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="exampleFormControlSelect1">Device Location</label>
                      <select [(ngModel)]="deviceLocation" name="deviceLocation" required class="form-control" id="exampleFormControlSelect1">
                        <option value="" disabled selected>Select</option>
                        <option value="Hall">Hall</option>
                        <option value="LivingRoom">LivingRoom</option>
                        <option value="Bathroom">Bathroom</option>
                        <option value="Kitchen">Kitchen</option>
                      </select>
                    </div>
                  <div class="form-group">
                    <label  class="form-label" for="formGroupExampleInput2">Device Name</label>
                    <input autocomplete="off" required [(ngModel)]="deviceName" name="deviceName" type="text" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="custom-checkbox" for="exampleCheck1"></label>
                      <label class="form-check-label" for="exampleCheck1">Display in overview page</label>
                      
                    </div>
                    <span class="error" *ngIf="(serverStatus == '1' || serverStatus == '2')">{{deviceTypeResponse}}</span>
                    <span class="success" *ngIf="(serverStatus == '0')">{{successMSG}}</span>
                    <div class="modal-footer">
                        
                        <button (click)="successMSG=''" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button [disabled]="(!addDeviceForm.form.valid) || (serverStatus == '1' || serverStatus == '2')" type="submit" value="submit" class="btn btn-primary">Add device</button>
                      </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
</div>
